* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: #ffffff;
  color: #000000;
}

.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

header {
  background: #ff1111;
  color: #ffff00;
  padding: 15px;
  border-bottom: 4px solid #040404;
  border-top: 4px solid #040404;
  border-left: 4px solid #040404;
  border-right: 4px solid #040404;
  text-align: center;
}

section,
aside {
  background: #ffff00;
  border: 2px solid #000000;
  padding: 15px;
  margin: 15px 0;
}

h1,
h2 {
  margin-bottom: 8px;
  color: #000000;
}

p {
  margin: 8px 0;
}


img {
  max-width: 100%;
  border: 2px solid #000000;
  margin-top: 8px;
}


nav {
  background: #000000;
  padding: 10px;
  border: 2px solid #ff0000;
  margin-top: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  background: #ff0000;
  padding: 6px 10px;
  border: 2px solid #000000;
}

nav a:hover {
  background: #ffff00;
  color: #c02222;
}

nav a[aria-current="page"] {
  background: #ffff00;
  color: #d10000;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.flex-row div {
  flex: 1 1 250px;
  background: #ffff00;
  border: 2px solid #000000;
  padding: 10px;
}

footer {
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  border-top: 4px solid #ff0000;
  color: #c07070;
}
@keyframes myAnimation {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: rgb(0, 0, 0);}
  100% {background-color: rgb(255, 255, 255);}
}

div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: myAnimation;
  animation-duration: 15s;
}

